#changePassModal {
    padding: 30px !important;

    background-color: white;
    padding: 25px;
    margin: auto;

    width: 500px;
    height: auto;

    position: relative;
    top: 10%;
}

#exitChangePassModal {
    position: absolute;
    float: right;
    left: 90%;
}