.allEditableData {
    background-color: white;
    width: 90% !important;
    margin: auto !important;

    position: relative;
    top: 10%;

    overflow-y: scroll;


}

.dataContainer {
    padding: 30px !important;
}

#exitModal {
    float: right;
}

.dataEntry {
    display: block;
    width: 90%;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    word-wrap: break-word;
}

.dataEntryValue {
    padding: 20px;

    li {
        display: inline;
    }
}