.allEditableData {
    background-color: white;
}

.dataEntry {
    display: block;
    width: 500px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;

    word-wrap: break-word;
}

.dataEntryValue li {
    display: inline;
}