.adminLoginForm {
    background-color: white;
    padding: 25px;
    margin: auto;

    width: 500px;
    height: auto;
    z-index: 99999999999;
}

#exitLoginModal {
    position: relative;
    float: right;
}